* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
  border-bottom: 1px solid rgb(77, 83, 76);
  background: rgb(68, 82, 65);
  position: sticky;
  top: 0;
  color: white;
}

header * {
  cursor: pointer;
}



.carticon {
  display: flex;
  gap: 16px;
}


button {
  cursor: pointer;
  background: #24335800;
  color: white;
  transition: transform .3s linear;
}

button:hover {
  transform: translateY(-3px);
}

.hero {
  background-image: url(/Palante-Packs/images/heroRealpack.png);
  height: 80vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bagspan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(143, 82, 42);
  height: 14vh;
  color: white;


}

.bagspantitle {
  font-family: elza, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bagspantext {
  margin-top: 20px;
  font-family: elza, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.baginventory {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.item1 {
  background: url(/Palante-Packs/images/desertpackFront.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item2 {
  background: url(/Palante-Packs/images/joeyblackFront.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item3 {
  background: url(/Palante-Packs/images/v2whiteFront.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
  text-decoration: none;
}

.item4 {
  background: url(/Palante-Packs/images/ultralightblackFront.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item5 {
  background: url(/Palante-Packs/images/sidebagBlack.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item6 {
  background: url(/Palante-Packs/images/simplepackkit.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.gearspan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 101, 161);
  height: 10vh;
  Color: white;
  font-family: elza, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.gearinventory {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2em;
}


.item7 {
  background: url(/Palante-Packs/images/tshirtFront.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item8 {
  background: url(/Palante-Packs/images/hoodieYellow.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item9 {
  background: url(/Palante-Packs/images/bottlelongGreen.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item10 {
  background: url(/Palante-Packs/images/bottlewidePurple.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item11 {
  background: url(/Palante-Packs/images/corkball.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item12 {
  background: url(/Palante-Packs/images/trayBack.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.item13 {
  background: url(/Palante-Packs/images/pipe.png) no-repeat top center;
  height: 40vh;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40vh;
}

.iteminfo {
  padding-top: 35vh;
  color: black;
  margin: 90px;
}


.footer {
  background-color: rgb(68, 82, 65);
  height: 24vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: elza, sans-serif;
  font-weight: 800;
  font-style: normal;

}

.footercenter {
  justify-items: center;
  font-family: elza, sans-serif;
  font-weight: 400 !important;
  font-style: normal;

}

.v2link {
  text-decoration: none;
}



@media screen and (max-width: 700px) {
  .cartui {
    width: 90vw;
  }
}